/build/*
/dist/*
/venv/*

# all files in the log folder
/log/*

.idea/*
__pycache__/*
/chrome/*
process_api/utils/__pycache__/*
process_api/schema_runner/__pycache__/*
process_api/modules/selenium/automation/__pycache__/*
process_api/modules/selenium/__pycache__/*
process_api/modules/__pycache__/*
process_api/expressions/*
process_api/__pycache__/*
.idea/ui_testing_service.iml
src/__pycache__/*
extensions/__pycache__/*
package-lock.json
