:host {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: minmax(0, 1fr);
    box-sizing: border-box;
    border-width: 0;
    outline: none;
    overflow: hidden;
}

:host:focus {
    border-width: 0;
    outline: none;
}

aside {
    display: block;
    overflow: auto;
    border-right: solid 1px silver;
}

aside div {
    padding: var(--padding);
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: var(--border);
}

aside div:hover {
    color: var(--blue);
    background: var(--blue-s2);
}