[data-layer=animation] li {
  display: flex;
  align-items: center;
  background: var(--cl-primary-alt);
}
[data-layer=animation] li label {
  flex: 1;
  padding-left: var(--padding);
}
[data-layer=animation] li button {
  font-family: crsfrw;
  font-size: 1rem;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  padding: var(--padding);
  height: var(--input-height);
  min-width: var(--input-height);
  background: 0;
  border: 0;
  border-radius: var(--radius);
  outline: none;
  text-transform: none;
}
