:host {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
::slotted([aria-hidden]) {
  display: none;
}
::slotted(page) {
  padding: var(--padding);
}
overflow-bar {
  width: 100%;
}
tab {
  width: max-content;
  height: 2.5rem;
  padding: var(--padding);
  position: relative;
  border-radius: var(--radius) var(--radius) 0 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: var(--grey-s4);
  outline: none;
}
tab * {
  pointer-events: none;
}
tab[aria-selected] {
  background: var(--window);
  border: var(--border);
}
tab[aria-selected]:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: var(--blue);
}
tab[data-highlight=true]:not([aria-selected]):after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: var(--grey-s2);
}
tab[data-invalid=true]:before {
  content: "info-outline";
  font-family: crsfrw;
  font-size: 1.2rem;
  color: var(--red);
  margin: 0 var(--padding) 0 0;
}
tab[aria-selected][data-invalid=true]:after {
  background: var(--red);
}
tab[aria-hidden] {
  display: none;
}
