.overflow-cell[aria-selected] .pinned-content:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: var(--blue);
}
.overflow-cell .pinned-content[data-invalid] {
  color: var(--red);
  font-weight: normal;
}
.overflow-cell .pinned-content[data-invalid]:before {
  content: "info-outline";
  font-family: crsfrw;
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--red);
  margin: 0 var(--padding) 0 0;
}
.overflow-cell[aria-selected] .pinned-content[data-invalid]:after {
  background: var(--red);
}
