<link rel="stylesheet" href="/packages/crs-framework/styles/lib/buttons.css">
<link rel="stylesheet" href="/packages/crs-framework/styles/lib/input.css">
<link rel="stylesheet" href="/packages/crs-framework/styles/lib/toolbar.css">

<div role="toolbar">
    <h2>Current Server Status</h2>
    <label>
        <combo-box value.bind="testBundle" ready.call="loadBundles" ref="cbBundles"></combo-box>
        <button class="icon" click.call="add" title="add tests to queue">add</button>
    </label>

    <combo-box value.bind="browser">
        <option value="chrome">Chrome</option>
        <option value="firefox">Firefox</option>
    </combo-box>

    <label>
        <combo-box value.bind="refreshRate">
            <option value="500">0.5 second</option>
            <option value="1000">1 second</option>
            <option value="5000">5 second</option>
            <option value="10000">10 second</option>
            <option value="30000">30 second</option>
            <option value="0">Never</option>
        </combo-box>
        <button class="icon" click.call="refresh">refresh</button>
    </label>

    <button click.call="clearCache">Clear Cache</button>
</div>

<template>
    <li classlist.if="error_count > 0 ? 'error'" data-status="${status}" data-id="${uuid}" data-name="${name}">
        <div class="date">${date}</div>
        <div class="time">${time}</div>
        <div class="name">${name}</div>
        <div class="status">${status}</div>
        <div class="error-count">${error_count}</div>
        <div class="duration">${duration}</div>
        <div class="memory">${memory_diff}</div>
    </li>
</template>

<ul ref="collection" dblclick.call="listExecute"></ul>