:host {
    display: block;
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
}

ul {
    padding: 0;
    border-top: var(--border);
}

li {
    display: flex;
    flex-direction: row;
    border-bottom: var(--border);
    border-left: var(--border);
    border-right: var(--border);
    user-select: none;
}

li div {
    padding: var(--padding);
    border-right: var(--border);
    pointer-events: none;
}

img {
    width: 100%;
    margin: var(--padding);
}

.red {
    color: var(--red);
    font-style: normal;
}

.green {
    color: var(--greensea);
    font-style: normal;
}

.grey {
    color: var(--grey-s1);
    font-style: normal;
}

.date {
    width: 5rem
}

.time {
    width: 5rem
}

.name {
    width: 30rem;
}

.value {
    width: 5rem;
}