<template id="memory-template">
    <li classlist.if="error_count > 0 ? 'error'" data-status="${status}" data-id="${uuid}" data-name="${name}">
        <div class="date">${date}</div>
        <div class="time">${time}</div>
        <div class="name">${name}</div>
        <div class="value">${value}</div>
    </li>
</template>

<tab-sheet>
    <page data-title="Log" data-id="log">
        <p id="log" ref="logContainer"></p>
    </page>

    <page data-title="Memory Details" data-id="memory">
        <ul id="memory" ref="memoryContainer"></ul>
    </page>

    <page data-title="Memory Graph" data-id="memory-graph">
        <img id="graph" ref="graphContainer"></img>
    </page>

    <page data-title="Schema" data-id="schema">
        <div class="code-panel">
            <div role="toolbar">
                <button click.call="runSchema">Run Schema</button>
            </div>
            <text-editor data-language="json" ref="schemaContainer" ready.call="loadSchema"></text-editor>
        </div>
    </page>
</tab-sheet>