@import "/packages/crs-framework/styles/styles.css";

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: minmax(0, 1fr);
}

header {
    border-bottom: var(--border);
    background: var(--grey-surface);
}

aside {
    display: block;
    border-right: var(--border);
    height: 100%;
}

main {
    display: block;
    width: 100%;
    height: 100%;
}

.toolbar {
    justify-content: flex-end;
}