<div class="templates">
    <div role="toolbar">
        <h2>Extensions</h2>
        <spacer></spacer>
        <button click.call="new">New</button>
    </div>
    <ul ref="itemsContainer" click.call="select"></ul>
</div>

<div class="container">
    <div class="text">
        <text-editor data-language="markdown" ref="editor"></text-editor>
    </div>

    <div role="toolbar">
        <div>${fileName}</div>
        <spacer></spacer>
        <button click.call="save">Save</button>
    </div>
</div>
