<div class="toolbar">
    <button click.call="newTest">New</button>
    <button click.call="openTest">Open</button>
    <button click.call="saveTest">Save</button>
    <divider></divider>
    <button click.call="importRecording">Import Recording</button>

    <spacer></spacer>
    <button click.call="showHelp">Help</button>
    <combo-box value.bind="browser">
        <option value="chrome">Chrome</option>
        <option value="firefox">Firefox</option>
    </combo-box>
    <button click.call="runSchema">Run Schema</button>
</div>

<split-view>
    <div class="left">
        <text-editor change.call="markdownEditorChange" data-language="markdown"  ref="markdownEditor"></text-editor>
    </div>
    <div class="right">
        <text-editor data-language="json" ref="schemaEditor"></text-editor>
    </div>
</split-view>

<ul class="summary">
    <li class="header">
        <div class="date">Date</div>
        <div class="time">Time</div>
        <div class="name">Name</div>
        <div class="status">Status</div>
        <div class="error-count">Error Count</div>
        <div class="duration">Duration</div>
        <div class="memory">Memory Diff</div>
    </li>
    <li data-status.attr="status.status" dblclick.call="showStatus">
        <div class="date">${status.date}</div>
        <div class="time">${status.time}</div>
        <div class="name">${status.name}</div>
        <div class="status">${status.status}</div>
        <div class="error-count">${status.error_count}</div>
        <div class="duration">${status.duration}</div>
        <div class="memory">${status.memory_diff}</div>
    </li>
</ul>