:host {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 3rem minmax(0, 1fr) auto;
}

split-view {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.left {
    border-right: var(--border);
}

.left, .right {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.toolbar {
    display: flex;
    align-items: center;
    padding: 0 var(--padding);
    border-bottom: var(--border);
    background: var(--grey-surface);
}

button {
    height: 2rem;
}

spacer {
    flex: 1;
}

ul {
    padding: 0;
    border-top: var(--border);
}

li {
    display: flex;
    flex-direction: row;
    border-bottom: var(--border);
    border-left: var(--border);
    border-right: var(--border);
    user-select: none;
    cursor: pointer;
    color: var(--cl-text);
}

li div {
    padding: var(--padding);
    border-right: var(--border);
    pointer-events: none;
}

li[data-status="error"] {
    color: var(--red);
}

li[data-status="complete"] {
    color: var(--green);
}

li:hover:not(.header) {
    background-color: var(--blue-s2)
}

.date {
    width: 5rem
}

.time {
    width: 5rem
}

.name {
    width: 30rem;
}

.status {
    width: 5rem;
}

.error-count {
    width: 6rem;
}

.duration {
    width: 6rem;
}

.memory {
    width: 6rem;
}

.status div {
    padding: var(--padding);
    border-right: var(--border);
    pointer-events: none;
}

combo-box {
    margin: 0 var(--padding);
}

divider {
    display: block;
    height: 1rem;
    width: 1px;
    background: var(--grey-s1);
    margin: var(--padding);
}

combo-box {
    position: relative;
}

combo-box:hover:after {
    content: attr(aria-label);
    display: block;
    position: absolute;
    padding: var(--padding);
    border-bottom: var(--border);
    color: var(--blue-s2);
    background: var(--blue);
    border-radius: 5px;
    z-index: 999999999;
}