:host {
    display: grid;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    grid-template-rows: auto minmax(0, 1fr);
}

h2 {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    border-top: var(--border);
    overflow: auto;
}

li {
    display: flex;
    flex-direction: row;
    border-bottom: var(--border);
    border-left: var(--border);
    border-right: var(--border);
    user-select: none;
    cursor: pointer;
}

li:hover {
    background-color: var(--blue-s2)
}

li div {
    padding: var(--padding);
    border-right: var(--border);
    pointer-events: none;
}

li[data-status="running"] {
    background-color: var(--blue-s2);
    color: var(--blue);
    border: solid 1px var(--blue);
}

li[data-status="queue"] {
    background-color: var(--grey-s3);
    color: var(--grey);
    border: solid 1px var(--grey);
}


.error {
    color: var(--red);
}


.error-count {
    margin-left: var(--padding);
}

.date {
    width: 5rem
}

.time {
    width: 5rem
}

.name {
    width: 30rem;
}

.status {
    width: 5rem;
}

.error-count {
    width: 6rem;
}

.duration {
    width: 6rem;
}

.memory {
    width: 6rem;
}

[role="toolbar"] {
    display: flex;
    flex-direction: row;
    padding: var(--padding);
    align-items: center;
    background: var(--grey-surface);
}

[role="toolbar"] h2 {
    font-size: 1rem;
    flex: 1
}

[role="toolbar"] label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

[role="toolbar"] label span {
    margin-right: var(--padding);
}